body {
    background-color: salmon;
    text-align: center;
   
}

h1{
  
    font-size: 50px;
    font-family: tapestry, cursive;
    color:#11999E;
    
}

h3{
    font-family: 'Open Sans', sans-serif, Arial;
    font-size: 20px;
    color:black; 
}

h2{
    font-family: tapestry, sans-serif;
    font-size:35px;
    color:#11999E;
    font-weight: normal;
    
}

h4{
    font-size: 20px;
}

.top-container {
    background-color: aquamarine;
    font-family: Nunito, sans-serif;
    margin:40px;
    padding:-20%
}


.bottom-container {
    margin:50px;
    background-color:burlywood;
    
    
}


.contact-me{
    background-color: aquamarine;
    margin:50px;
}
   


.skills{
    background-color: aquamarine;
    margin:50px;
}


td{
    font-size: 30px;
    padding:2px;
    width:25%;
    background-color: hotpink;
}

th{
    font-size: 40px;
}

.education{
    background-color: aquamarine; 
    margin:50px;
}


.experience{
    background-color: aquamarine;
    margin:50px;
}


.topnav {
    background-color: rgb(50, 165, 231);
    overflow: hidden;
    margin:0px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: greenyellow;
    color: red;
  }

  .eximage{
      width:100%;
      height:auto;
  }

  .img1{
      position:relative;
      right:500px;
      top:100px;
      width:20%;
      height:auto;
 }

 .img2{
    position:relative;
    left:500px;
    bottom:100px;
    width:20%;
    height:auto;
}
  
  